{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list jazzmin %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'vendor/select2/css/select2.min.css' %}">

    {% if cl.formset or action_form %}
        <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {% endif %}
    {{ media.css }}
    {% if not actions_on_top and not actions_on_bottom %}
        <style>
            #changelist table thead th:first-child {width: inherit}
        </style>
    {% endif %}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    {{ media.js }}
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a></li>
        <li class="breadcrumb-item active">{{ cl.opts.verbose_name_plural|capfirst }}</li>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </ol>
{% endblock %}



{% block content_title %} {{ cl.opts.verbose_name_plural|capfirst }} {% endblock %}

{% block coltype %}flex{% endblock %}

    {% block page_actions %}
        <div class="col-12 col-md-auto d-flex align-items-center justify-content-end page-actions">
            {% block object-tools %}
                {% block object-tools-items %}
                    {% change_list_object_tools %}
                {% endblock %}
            {% endblock %}
        </div>
    {% endblock %}


{% block content %}

    {% block date_hierarchy %}{% if cl.date_hierarchy %}{% date_hierarchy cl %}{% endif %}{% endblock %}

    {% block search %}
        {% search_form cl %}
    {% endblock %}
   
    {% comment %} <div class="col-12">
        <div>
            <form id="changelist-form" method="post"{% if cl.formset and cl.formset.is_multipart %}enctype="multipart/form-data"{% endif %} novalidate>{% csrf_token %}
                <div id="content-main">
                    {% if cl.formset and cl.formset.errors %}
                    <div class="alert alert-warning" role="alert">
                        {% if cl.formset.total_error_count == 1 %}
                            {% trans "Please correct the error below." %}
                        {% else %}
                            {% trans "Please correct the errors below." %}
                        {% endif %}
                    </div>
                    {{ cl.formset.non_form_errors }}
                    {% endif %}
                    <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
                    <div class="row">
                        <div class="col-12">
                            {% if cl.formset %}
                                <div>{{ cl.formset.management_form }}</div>
                            {% endif %}

                            {% block result_list %}
                                <div class="change-list-actions row pb-3">
                                    <div class="col-12">
                                        {% if action_form and actions_on_top and cl.show_admin_actions %}
                                            {% admin_actions %}
                                        {% endif %}
                                    </div>
                                </div>
                                {% result_list cl %}
                                {% if action_form and actions_on_bottom and cl.show_admin_actions %}
                                    <div class="row">
                                        <div class="col-12">
                                            {% admin_actions %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endblock %}
                        </div>
                    </div>
                    <div class="row">
                        {% block pagination %}{% pagination cl %}{% endblock %}
                    </div>
                </div>
                </div>
            </form>
        </div>


        <br class="clear"/>
     
        <div class="container mt-2">
            <div class="row">
                <!-- First Statistic Card -->

                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Total Users</h5>
                            <p class="card-text display-4">1,234</p>
                            <p class="text-success">+5% from last month</p>
                        </div>
                    </div>
                </div>
                
    
                <!-- Second Statistic Card -->
                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Revenue</h5>
                            <p class="card-text display-4">$45,678</p>
                            <p class="text-danger">-2% from last month</p>
                        </div>
                    </div>
                </div>
    
                <!-- Third Statistic Card -->
                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">New Orders</h5>
                            <p class="card-text display-4">987</p>
                            <p class="text-success">+10% from last month</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<div class="container mt-5">
     <div class="card mb-3">
        <div class="card-body p-3">
         <div class="chart">
            <div class="row">
                <h4 style="margin: 10px;">Tavar haqida toliq statistika </h4>
                <div class="col-md-12">
                    <canvas id="productSalesChart"></canvas>
                </div>
                <h4 style="margin: 10px;">Savdo haqida toliq statistika </h4>

                <div class="col-md-8 offset-md-2 mt-4">
                    <canvas id="productSalesChartt"></canvas>
                </div>
                <h4 style="margin: 10px;">Buyurtmalar haqida toliq statistika </h4>

                <div class="col-md-8 offset-md-2 mt-4">
                    <canvas id="orderchart"></canvas>
                </div>
            </div>
        </div>
        <div>
    </div>

        </div>
    </div> {% endcomment %}

    {% endblock %}


{% block extrajs %}
    {{  block.super }}
    <script type="text/javascript" src="{% static 'vendor/select2/js/select2.min.js' %}"></script>
    <script>
        {% comment %} set filterInputLength default and custom values {% endcomment %}
        window.filterInputLengthDefault = 0;
        window.filterInputLength = {
            {% for k,v in cl.model_admin.filter_input_length.items %}
                '{{ k }}': {{ v }},
            {% endfor %}
        }
    </script>

    <script>
        var ctx = document.getElementById('productSalesChart').getContext('2d');
        var productSalesChart = new Chart(ctx, {
            type: 'line', // You can change this to 'line', 'pie', 'doughnut', etc.
            data: {
                labels: ['Product A', 'Product B', 'Product C', 'Product D', 'Product E', "Kamera", "Damafon"],
                datasets: [{
                    label: 'Sales',
                    data: [12, 19, 3, 5, 2, 3,6],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
    <script>
        var ctx = document.getElementById('orderchart').getContext('2d');
        var productSalesChart = new Chart(ctx, {
            type: 'radar', // You can change this to 'line', 'pie', 'doughnut', etc.
            data: {
                labels: ['Product A', 'Product B', 'Product C', 'Product D', 'Product E', "Kamera", "Damafon"],
                datasets: [{
                    label: 'Sales',
                    data: [12, 19, 3, 5, 2, 3,6],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgb(153, 102, 255)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>

    <script>
        var ctx = document.getElementById('productSalesChartt').getContext('2d');
        var productSalesChart = new Chart(ctx, {
            type: 'bar', // You can change this to 'line', 'pie', 'doughnut', etc.
            data: {
                labels: ['Product A', 'Product B', 'Product C', 'Product D', 'Product E'],
                datasets: [{
                    label: 'Sales',
                    data: [12, 19, 3, 5, 2],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>


    <script type="text/javascript" src="{% static 'jazzmin/js/change_list.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
